<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/icono.ico') }}">

  <title>MVP CLINICAS DEL COBRE</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
  <style>
    .spinner-container {
      display: grid;
      place-items: center; /* Centra horizontal y verticalmente */
      height: 40vh;       /* Altura del contenedor para centrar verticalmente */
  }

  /* Estilo para el indicador de carga */
    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        z-index: 1000;
    }

    .spinner {
        border: 8px solid rgba(0, 0, 0, 0.1);
        border-left: 8px solid white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        margin: 0 auto 10px auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
  </style>
</head>

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Prototipo</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#" id="linkHome">Home</a>
          <a class="nav-link" href="#" id="linkML">¿Qué es Machine Learning?</a>
          <a class="nav-link" href="#" id="linkApp">App Llama3</a>
        </nav>
      </div>
    </header>

    <!-- Seccion Home, el landing page del sitio web -->
    <main role="main" class="inner cover">
      <div id="homeSection">
        <h1 class="cover-heading">Optimiza tus Datos con Machine Learning</h1>
        <p class="lead">Acelera y mejora el procesamiento de tus archivos utilizando algoritmos avanzados de Machine
          Learning. Experimenta una mayor eficiencia y precisión en la gestión de grandes volúmenes de datos.</p>
        <p class="lead">
          <img src="{{ url_for('static', filename='images/algoritmo.png') }}" alt="Algoritmo" class="img-responsive">
          <a href="#" class="btn btn-lg btn-secondary">¡Pruébalo ahora!</a>
        </p>
      </div>
      <!-- Seccion Home, el landing page del sitio web -->

      <!-- Seccion Machine Learning, aqui es la explicación de que es el machine learning que usaremos -->
      <div id="mlSection" style="display:none;">
        <h2>¿Qué es Machine Learning?</h2>
        <p>El Machine Learning es una rama de la inteligencia artificial que permite a las máquinas aprender de los
          datos y mejorar su rendimiento con el tiempo sin ser programadas explícitamente para cada tarea.</p>
        <h3>Lenguaje Generativo</h3>
        <p>El lenguaje generativo es una aplicación de Machine Learning que se utiliza para generar texto, imágenes,
          música y otros tipos de contenido.</p>
        <h4>LLaMA3</h4>
        <div class="image-container">
          <img src="{{ url_for('static', filename='images/Llama_3_featured_image-fs8.png') }}"
            alt="Llama_3_featured_image-fs8" class="img-llama">
          <div class="text-container">
            <p>LLaMA3, desarrollado por Meta y lanzado en 2024, es un modelo de lenguaje generativo avanzado. Con hasta
              70 mil millones de parámetros y entrenado en más de 15 billones de tokens, destaca por su capacidad para
              interpretar textos y generar redacciones coherentes y relevantes.</p>
          </div>
        </div>
      </div>
      <!-- Seccion Machine Learning, aqui es la explicación de que es el machine learning que usaremos -->

      <!-- Contenido de la sección App Llama3 -->
      <div id="appSection" style="display:none;">
        <h2>Ingresa tu hoja médica</h2>
        <form action="POST" class="image-container" id="file_input" enctype="multipart/form-data">
          <input type="file" id="fileInput" />
        </form>
        <p>Ingresando la hoja médica, puedes obtener un resumen detallado y preciso de lo que contiene el documento.
          Utilizamos modelos generativos avanzados de machine learning, como Llama3, que analizan y comprenden el
          contenido para generar resúmenes coherentes y útiles.</p>

                <!-- Sidebar con las preferencias de la query -->
        <div id="sidebar" class="sidebar" style="display:none;">
          <button type="button" id="closeBtn" class="btn-close" aria-label="Close" style="
            color: white; 
            background-color: #000; 
            border: 1px solid #333; 
            border-radius: 50%; 
            width: 30px; 
            height: 30px; 
            display: flex; 
            align-items: center; 
            justify-content: center;
            font-size: 16px;
          ">X</button>
          <h3>Preferencias de la Query</h3>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-primary" id="defaultPromptBtn">Prompt Predeterminado</button>
            <button type="button" class="btn btn-primary" id="customPromptBtn">Prompt Personalizado</button>
            <button type="button" class="btn btn-primary" id="llama3PromptBtn">Prompt Asistido Por LLama3</button>
          </div>
          <div class="form-group mt-3">
            <label for="keywords">Palabras Clave</label>
            <textarea id="keywords" class="form-control" rows="3" placeholder="Ingresa las palabras clave..."></textarea>
          </div>
          <button id="submitBtn" class="btn btn-lg btn-primary mt-3">Enviar</button>
          <div class="spinner-container">
            <img id="spinner-Gif" src="{{ url_for('static', filename='images/Gear@1x-0.2s-200px-200px.gif') }}" 
                style="width: auto; height: auto;">
          </div>

          <script>
            document.getElementById('closeBtn').addEventListener('click', function() {
              document.getElementById('sidebar').style.display = 'none';
            });
          </script>
        </div>
      </div>
      <!-- Contenido de la sección App Llama3 -->

    </main>


    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Website developed by <span style="color: white;">Benjamin Fierro</span> and <span
            style="color: white;">Sebastián Caneo.</span></p>
      </div>
    </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='js/jquery-slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- Nuestro script js que controla el funcionamiento del sitio web -->
  <script src="{{ url_for('static', filename='js/section_controller.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chat_controller.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sendFile_controller.js')}}"></script>
</body>

</html>